Prueba_ATM/Connected Services/ServicioAutorizador/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51286/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51286/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51286/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Autorizador" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_WS_AUTORIZADOR1_InputMessage">
    <wsdl:part name="parameters" element="tns:WS_AUTORIZADOR1" />
  </wsdl:message>
  <wsdl:message name="IService_WS_AUTORIZADOR1_OutputMessage">
    <wsdl:part name="parameters" element="tns:WS_AUTORIZADOR1Response" />
  </wsdl:message>
  <wsdl:message name="IService_WS_AUTORIZADOR2_InputMessage">
    <wsdl:part name="parameters" element="tns:WS_AUTORIZADOR2" />
  </wsdl:message>
  <wsdl:message name="IService_WS_AUTORIZADOR2_OutputMessage">
    <wsdl:part name="parameters" element="tns:WS_AUTORIZADOR2Response" />
  </wsdl:message>
  <wsdl:message name="IService_WS_AUTORIZADOR3_InputMessage">
    <wsdl:part name="parameters" element="tns:WS_AUTORIZADOR3" />
  </wsdl:message>
  <wsdl:message name="IService_WS_AUTORIZADOR3_OutputMessage">
    <wsdl:part name="parameters" element="tns:WS_AUTORIZADOR3Response" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="WS_AUTORIZADOR1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WS_AUTORIZADOR1" message="tns:IService_WS_AUTORIZADOR1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WS_AUTORIZADOR1Response" message="tns:IService_WS_AUTORIZADOR1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WS_AUTORIZADOR2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WS_AUTORIZADOR2" message="tns:IService_WS_AUTORIZADOR2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WS_AUTORIZADOR2Response" message="tns:IService_WS_AUTORIZADOR2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WS_AUTORIZADOR3">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WS_AUTORIZADOR3" message="tns:IService_WS_AUTORIZADOR3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WS_AUTORIZADOR3Response" message="tns:IService_WS_AUTORIZADOR3_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_AUTORIZADOR1">
      <soap:operation soapAction="http://tempuri.org/IService/WS_AUTORIZADOR1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_AUTORIZADOR2">
      <soap:operation soapAction="http://tempuri.org/IService/WS_AUTORIZADOR2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_AUTORIZADOR3">
      <soap:operation soapAction="http://tempuri.org/IService/WS_AUTORIZADOR3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:51286/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>