Prueba_ATM/Connected Services/ServicioAutorizador/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Autorizador" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Autorizador" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaTransaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoAutorizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Saldo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaTransaccion" nillable="true" type="tns:RespuestaTransaccion" />
</xs:schema>