Autenticador/SistemaTarjetasABC/SimuladorCliente/Connected Services/ServiceReference1/AutenticacionService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60469/AutenticacionService2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosBancariosWCF" />
  <xs:element name="AutenticarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioEncriptado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenaEncriptada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosBancariosWCF" minOccurs="0" name="AutenticarUsuarioResult" nillable="true" type="q1:RespuestaBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosBancariosWCF" minOccurs="0" name="nuevoUsuario" nillable="true" type="q2:UsuarioModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosBancariosWCF" minOccurs="0" name="CrearUsuarioResult" nillable="true" type="q3:RespuestaBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosBancariosWCF" minOccurs="0" name="usuarioModificado" nillable="true" type="q4:UsuarioModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosBancariosWCF" minOccurs="0" name="ModificarUsuarioResult" nillable="true" type="q5:RespuestaBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevoEstado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiciosBancariosWCF" minOccurs="0" name="CambiarEstadoUsuarioResult" nillable="true" type="q6:RespuestaBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>