Autenticador/SistemaTarjetasABC/SimuladorCliente/Connected Services/ServiceReference1/AutenticacionService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AutenticacionService2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60469/AutenticacionService2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60469/AutenticacionService2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60469/AutenticacionService2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosBancariosWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutenticacionService_AutenticarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="IAutenticacionService_AutenticarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAutenticacionService_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IAutenticacionService_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAutenticacionService_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IAutenticacionService_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAutenticacionService_CambiarEstadoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstadoUsuario" />
  </wsdl:message>
  <wsdl:message name="IAutenticacionService_CambiarEstadoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarEstadoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IAutenticacionService">
    <wsdl:operation name="AutenticarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutenticacionService/AutenticarUsuario" message="tns:IAutenticacionService_AutenticarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutenticacionService/AutenticarUsuarioResponse" message="tns:IAutenticacionService_AutenticarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutenticacionService/CrearUsuario" message="tns:IAutenticacionService_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutenticacionService/CrearUsuarioResponse" message="tns:IAutenticacionService_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutenticacionService/ModificarUsuario" message="tns:IAutenticacionService_ModificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutenticacionService/ModificarUsuarioResponse" message="tns:IAutenticacionService_ModificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarEstadoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutenticacionService/CambiarEstadoUsuario" message="tns:IAutenticacionService_CambiarEstadoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutenticacionService/CambiarEstadoUsuarioResponse" message="tns:IAutenticacionService_CambiarEstadoUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAutenticacionService" type="tns:IAutenticacionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarUsuario">
      <soap:operation soapAction="http://tempuri.org/IAutenticacionService/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IAutenticacionService/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IAutenticacionService/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarEstadoUsuario">
      <soap:operation soapAction="http://tempuri.org/IAutenticacionService/CambiarEstadoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutenticacionService2">
    <wsdl:port name="BasicHttpBinding_IAutenticacionService" binding="tns:BasicHttpBinding_IAutenticacionService">
      <soap:address location="http://localhost:60469/AutenticacionService2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>